@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .select-custom {
    appearance: none;
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 97%;
    outline: none;
  }
}
