.swiper-button-next,
.swiper-button-prev {
  width: 64px;
  height: 64px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
  color: white;
  background: url("../../../../../public//assets/svg/right.svg") no-repeat
    center;
  width: 64px;
  height: 64px;
}

.swiper-button-prev::after {
  transform: scaleX(-1);
}

.swiper-pagination-bullet {
  background-color: #f7f7f7;
}

@media (max-width: 640px) {
  .swiper-pagination-bullet {
    background-color: #111;
  }
}

.swiper-pagination-bullet-active {
  background-color: #2250f4;
}
